# =====================================================================
# 🔒 DATA ENGINEERING & SECURITY EXCLUSIONS
# =====================================================================
config.py
config.local.py
.env
.envrc

# Local Data files
data/*.csv
data/*.xlsx
shipment_chart.png
tempCodeRunnerFile.py

# =====================================================================
# 🐍 PYTHON WORKSPACE ENVIRONMENT
# =====================================================================
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# =====================================================================
# 💻 IDE & EDITOR SETTINGS
# =====================================================================
.vscode/
.idea/
.DS_Store